---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WaitlistForm from "../components/WaitlistForm";
---

<Layout title="For Developers">
  <body class="flex flex-col">
    <Header active="developers" />
    <main class="flex w-full items-stretch">
      <div class="flex flex-col pl-12 md:pl-24 py-16 prose max-w-none w-full md:w-2/3">
          <h1 class="text-wrap">Usher in a new era of the web.</h1>
          <h3>
            If you believe, like us, that the status quo is broken, then join us in building a better web.
          </h3>
          <p>
            The web didn't become the way it is now because it's the only way—it's because money and infrastructure was poured into making it so. We can redirect this energy towards building an internet that doesn't require software companies to prey on users to survive. After all, it's just code.
          </p>
          <h2>
            Aligned incentives: you own the product, the user owns their data.
          </h2>
          <p>
            We believe software is at its best when company business models align
            with user incentives. Users should pay you because they want to stay,
            not because they can't leave.
          </p>
          <h2>No infrastructure necessary.</h2>
          <p>
            Today, every company has to rebuild some of the same infrastructure:
            user accounts, permissions, data sync. We get these primitives right
            so you can focus on what matters most: building the best user
            experience. Save the time, money, and compute by building on habitat.
          </p>
          <h2>Trivial integration with other apps built on ATProtocol.</h2>
          <p>
            The benefit of an open data protocol is that products thrive together.
            You don't just read and write to your application's data silo;
            instead, shared data schemas allow for unlimited integration and
            cross-app interactions.
          </p>
      </div>
      <div class="developers-background flex-1 min-w-20">
        <img src="/sidetrees.jpg" class="absolute inset-0 w-full h-full object-cover object-[left_0]" style="filter: grayscale(100%);" alt="" />
        <div class="absolute inset-0" style="background-color: #098727; mix-blend-mode: screen; opacity: 0.5;"></div>
      </div>
    </main>
    <footer class="flex justify-center py-16 px-8 w-full overflow-hidden">
      <div class="prose max-w-none w-full text-center">
        <h3 class="md:whitespace-nowrap text-center">
          Get started by reading our docs or join the discussion on your favorite platform by tagging <a href="https://bsky.app/profile/habitat.network">@habitat.network</a>.
        </h3>
          <div class="flex items-start justify-center gap-8 flex-wrap">
          <div class="prose mt-2">
            <h2>Sign up to get developer updates from us:</h2>
          </div>
          <WaitlistForm client:load from="developer" />
        </div>
      </div>
    </footer>
  </body>
</Layout>
