---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Carousel from "../components/Carousel";
import WaitlistForm from "../components/WaitlistForm";
---

<Layout title="Habitat">
  <body class="flex flex-col">
    <Header />

    <main class="flex flex-col gap-16">
      <!-- Section 1 -->
      <section id="section-1" class="flex w-full items-center">
        <div class="hero-background flex-1 min-w-24"></div>
        <div class="flex flex-col items-start gap-16">
          <div class="prose ml-auto pr-4 flex flex-col">
            <h1>We're bringing <b>user data agency</b> to the web.</h1>
            <p>
              Your data should be yours, forever. Not owned by companies to turn a profit. You shouldn't need to share your data with third-party servers in order to share it with the people you trust. We are laying the technical foundations to change the default settings of the web and break free from the cycle of data capture that currently exists online.
            </p>
            <button
              onclick="document.getElementById('section-2').scrollIntoView({behavior: 'smooth', block: 'start'})"
              aria-label="Scroll to next section"
              class="transition-colors cursor-pointer mx-auto" style="color: #217c3a;"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </button>
          </div>
        </div>
      </section>

      <!-- Section 2 -->
      <section id="section-2" class="flex flex-col items-center justify-center px-6 gap-8">
        <div class="prose mb-10">
          <h2>How habitat works</h2>
          <p>
            habitat provides a place where all your data lives and can be
            controlled by you. Developers build frontend apps, no third-party
            servers involved, so you can interact with that data how you
            normally would, but without sharing it with any other parties, keeping it safe from extraction and spying. This is
            all built on ATProtocol, a new open protocol for the social
            internet.
          </p>
        </div>
        <div class="flex w-full gap-16 flex-wrap justify-center">
          <div class="flex-1 prose min-w-full sm:min-w-0">
            <h3>The old way</h3>
            <img src="/traditional-way.png" alt="Diagram" class="w-full max-w-8xl px-8" />

            <p>
              Today, apps own the data you create with the app, and in order
              to share data with people, they need to use the same app. This
              enables monopolies to build data moats that stifle competition
              while offering inferior experiences to users.
            </p>
          </div>
          <div class="flex-1 prose min-w-full sm:min-w-0">
            <h3>The habitat way</h3>
            <img src="/habitat-way.png" alt="Diagram" class="w-full max-w-8xl px-8" />

            <p>
              With habitat, you own your data and apps run locally on your device.
              Data is shared directly without involving third parties that can
              accumulate it. Apps are built to be compatible to leverage existing data to bring innovative
              user experiences.
            </p>
          </div>
        </div>
      </section>

      <!-- Section 3 -->
      <section id="section-3" class="min-h-screen flex flex-col items-center justify-center gap-16">
        <div class="prose px-6">
          <h2>
            Big Tech continues to harvest and steal our data.
          </h2>
        </div>
          <Carousel
            client:load
          items={[
            { image: "/google2.png", alt: "Google", href: "https://techcrunch.com/2026/02/10/google-sent-personal-and-financial-information-of-student-journalist-to-ice/" },
            { image: "/grammarly2.png", alt: "Grammarly", href: "https://www.wired.com/story/grammarly-is-offering-expert-ai-reviews-from-your-favorite-authors-dead-or-alive/" },
            { image: "/ring1.png", alt: "Ring" , href: "https://www.404media.co/with-ring-american-consumers-built-a-surveillance-dragnet/" },
            { image: "/ibm2.png", alt: "IBM" , href: "https://www.axios.com/2019/03/13/ibm-facial-recognition-flickr-images" },
            { image: "/meta2.png", alt: "Meta", href: "https://www.wired.com/story/meta-artificial-intelligence-data-deletion/" },
            { image: "/luxury_surveillance.png", alt: "Reallife Mag", href: "https://reallifemag.com/luxury-surveillance/" },
            { image: "/grocery.png", alt: "The facial recognition grocery store fight", href: "https://www.politico.com/newsletters/digital-future-daily/2026/03/16/the-facial-recognition-grocery-fight-00830499" },
            { image: "/sensorveillance.png", alt: "'SENSORVEILLANCE' TURNS ORDINARY LIFE INTO EVIDENCE", href: "https://spectrum.ieee.org/digital-surveillance" },
            { image: "/glasses.png", alt: "Smart Glasses Have Privacy Advocates Scrambling", href: "https://gizmodo.com/smart-glasses-have-privacy-advocates-scrambling-2000734146" },
            { image: "/hall_monitors.png", alt: "Hall Monitors", href: "https://reallifemag.com/hall-monitors/" },
            { image: "/improv.png", alt: "AI companies want to harvest improv actors' skills to train AI on human emotion", href: "https://www.theverge.com/ai-artificial-intelligence/893931/ai-companies-handshake-improv-actors-training-data" },

          ]}
        />
        <div class="prose w-full max-w-2xl px-6">
          <h3>We're actually doing something about it. </h3> 
          <p>
            Over the last decade, we've collectively
            experienced the internet get meaningfully... worse. Whether
            because of the attention economy, surveillance capitalism,
            enshittification, (or all the above and more), it's clear that the
            state of the web today isn't meant for us, for people. At the core
            of these issues lies data capture, through which Big Tech, data
            brokers, and surveillance dragnets have used our data against us.
            That's why to build a better web, we're trying
            to bring about user data ownership and agency at a protocol level.
          </p>
        </div>
      </section>
    </main>
    <footer class="flex justify-center pb-8 px-8 mb-64">
      <div class="flex items-center justify-center gap-8 flex-wrap">
        <div class="prose">
          <h2>Sign up for the waitlist now:</h2>
        </div>
        <WaitlistForm client:load />
      </div>
    </footer>
  </body>
</Layout>
