---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>For Users</title>
		<ClientRouter />
	</head>
	<body class="m-0 min-h-screen font-sans leading-normal bg-[#0f0f12] bg-center bg-cover bg-no-repeat" style="background-image: url('/robert-katzki-KLcaQxlmhtk-unsplash.jpg')">
		<main class="h-screen flex flex-col overflow-auto items-center pt-8">
			<div class="px-6 pt-12 sm:px-12 bg-[#F7F7F2] min-h-full flex flex-col w-fit shadow-2xl rounded-t-4xl " transition:name="card" transition:animate="morph">
				<header class="flex justify-between items-start">
					<a href="/"><img src="/habitat-wordmark.svg" class="m-0 w-32" 
transition:name="logo" transition:animate="morph"
					/></a>
					<nav class="flex flex-col items-end">
						<a href="/users">For users</a>
						<a href="https://github.com/habitat-sh">For developers</a>
						<a href="https://github.com/habitat-sh">GitHub</a>
					</nav>
				</header>
				<div class="mt-8 prose">
					<h1 class="hero-headline">
						Take back control of your data, with habitat.<br>
					</h1>
					<ul class="section-list">
						<li>Your data is yours, forever. You pick who gets to see it.</li>
						<li>Choose or build your favorite < note-taking> app: your data goes where you go.</li>
						<li>All your data in one place: see it, search it, ask it questions.</li>
					</ul>
				</div>
			</div>
		</main>
	</body>
</html>
