---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Icon from "../components/Icon.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>For Users</title>
    <ClientRouter />
  </head>
  <body class="h-screen flex flex-col" style="background-color: #f4f4f4;">
    <header class="flex justify-between px-6 py-4 items-center sticky top-0 z-10" style="background-color: #f4f4f4;">
      <div class="flex-1">
        <a href="/"><img src="/habitat-wordmark.svg" /></a>
      </div>
      <nav class="flex text-lg gap-8">
        <a href="/users"><u>For users</u></a>
        <a href="/developers">For developers</a>
      </nav>
      <div class="flex-1 flex justify-end gap-4 items-center">
        <a
          href="https://github.com/habitat-network/habitat"
          aria-label="GitHub"
        >
          <Icon name="github" class="w-6 h-6" />
        </a>
        <a href="https://bsky.app/profile/habitat.network" aria-label="Bluesky">
          <Icon name="bluesky" class="w-6 h-6" />
        </a>
        <a href="https://habitat.leaflet.pub" aria-label="Leaflet">
          <Icon name="leaflet" class="w-6 h-6" />
        </a>
      </div>
    </header>
    <main class="flex flex-col items-center gap-16">
      <div class="relative w-full flex items-center justify-center">
        <img src="/treestop_green.jpg" class="w-full object-cover" alt="" />
        <div class="absolute inset-0" style="background: linear-gradient(to bottom, #f4f4f4 0%, transparent 40%);"></div>
        <div class="absolute top-30 left-12">
          <h1 class="text-5xl font-bold whitespace-nowrap">Take back control of your data, with habitat.</h1>
        </div>
      </div>
      <div class="prose">
        <h3>All your data in one place.</h3>
        <p>
          When you own all your data, you can see it, search it, or even ask it
          questions in a way that is impossible to do today. You can switch
          applications without losing any data, because the applications don't
          own your data in the first place. It would be like logging into Google
          Drive for the first time and seeing all your Microsoft OneDrive files
          there, without any hassle from you. This works because your data is
          tied to your decentralized user identity, not a centralized platform.
        </p>
      </div>
	        <div class="prose">
        <h3>Trust people, not companies.</h3>
        <p>
          With habitat, you choose the <em>people</em> you want to share your data
          with, not which company's Terms of Services you're forced to agree to, to
          interact with those people. We make it possible for data
          to flow directly between users' data stores and their devices, so it can never be used for other purposes.
        </p>
      </div>
      <div class="prose">
        <h3>Resist surveillance, together.</h3>
        <p>
          We're building Habitat because we've seen how surveillance capitalism
          threatens our livelihood, our society, and our future. It's clear that neither backlash from users nor policy and regulation
          is enough to get companies to do the right thing. We need a new
          paradigm for the internet that bakes in user data privacy at a
          foundational layer. By
          using habitat, you can be a part of this movement to fight
          surveillance online.
        </p>
      </div>
      <div class="prose py-12 px-8 w-[60vw] max-w-none">
        <h2> The post-surveillance internet won't be as good as the internet used to be; it will be better. Sign up for the waitlist now.</h2>
      </div>
    </main>
  </body>
</html>
