.habitat

#  Random files that can end up in the index
**/__debug_bin*
**/.DS_Store

# Code coverage output
coverage.out

# Bin directory
bin/

# Developer specific environment
dev.env

# Ignore frontend build
frontend_server/build
next

# Ignore old frontend build pre-Tanstack
frontend/.next/
frontend/next-env.d.ts
frontend/out/