.habitat

# pnpm workspace
node_modules/

#  Random files that can end up in the index
**/__debug_bin*
**/.DS_Store

# Code coverage output
coverage.out

# Bin directory
bin/

# Developer specific environment
dev.env

# Ignore frontend build
frontend_server/build

# Ignore old frontend build pre-Tanstack
frontend/out/

# TypeScript build artifacts
*.tsbuildinfo
dist/

# Ignore custom node config
config/habitat.dev.yml

tmp/

# todo: move these into some directory used for dev runtime files 
# currently these get added to root directory if you run gmake pear-dev
key.jwk
repo.db

.moon/cache

# Ignore custom VSCode/Cursor settings
.vscode/settings.json
