.habitat

# pnpm workspace
node_modules/

#  Random files that can end up in the index
**/__debug_bin*
**/.DS_Store

# Code coverage output
coverage.out

# Bin directory
bin/

# Developer specific environment
dev.env

# Ignore frontend build
frontend_server/build

# Ignore old frontend build pre-Tanstack
frontend/out/

# TypeScript build artifacts
*.tsbuildinfo
dist/

# Ignore custom node config
config/habitat.dev.yml

tmp/

.moon/cache

# We generate key.jwk and repo.db at runtime to use in the server.
/pear
cmd/pear/key.jwk
cmd/pear/repo.db

# Ignore custom VSCode/Cursor settings
.vscode/settings.json
