.collaboration-carets__caret {
  border-left: 2px solid currentColor;
  border-right: 2px solid currentColor;
  margin-left: -2px;
  margin-right: -2px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

.collaboration-carets__label {
  border-radius: 4px 4px 4px 0;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  left: -2px;
  line-height: normal;
  padding: 0.1rem 0.35rem;
  position: absolute;
  top: -1.5em;
  user-select: none;
  white-space: nowrap;
  letter-spacing: 0.01em;
}
