@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500&display=swap');

@theme {
    --font-sans: 'Albert Sans', ui-sans-serif, system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p {
    font-size: 1.125rem;
}

:root {
    color: #121113;
}

a {
    color: #217c3a;
    font-weight: 500;
    transition: transform 0.1s ease-in-out;
}

a:hover {
    text-decoration: underline;
    transform: translateY(-2px);
    /*transform-origin: 50% 100%;*/
}