tasks:
  build:
    command: go
    args:
    - build
    - ./...
    inputs:
    - '**/*.go'
    outputs: []
    options:
      merge: replace
  test:
    deps:
    - ~:build
    command: go
    args:
    - test
    - ./...
    - -coverprofile
    - '@out(0)'
    outputs:
    - coverage.out
    options:
      merge: replace
  coverage:
    deps:
    - test
    command: go-test-coverage
    args:
    - --config
    - '@in(0)'
    - --profile
    - '@in(1)'
    inputs:
    - /.testcoverage.yml
    - coverage.out
inheritedBy:
  toolchain: go
  layer: library
