# https://moonrepo.dev/docs/config/tasks
$schema: "https://moonrepo.dev/schemas/tasks.json"

# https://moonrepo.dev/docs/config/project#tasks
tasks:
  format:
    command: "noop"
    deps:
      - "root:format"

  format-fix:
    command: "noop"
    deps:
      - "root:format-fix"
    options:
      runInCI: false
  build:
    command: "go build"
    args:
      - "-o"
      - "@out(0)"
    outputs:
      - "/bin/$project"
  test:
    deps:
      - "~:build"
    command: "go test ./..."
  tidy-deps:
    command: "go mod tidy"
    options:
      runInCI: false
      cache: false
  start:
    command: "$workspaceRoot/bin/$project"
    local: true
    options:
      envFile:
        - "/dev.env"
  dev: 
    command: "air"
    options:
      envFile:
        - "/dev.env"
