# https://moonrepo.dev/docs/config/tasks
$schema: "https://moonrepo.dev/schemas/tasks.json"

# https://moonrepo.dev/docs/config/project#tasks
tasks:
  format-check:
    command: "noop"
    deps:
      - "root:format-check"

  format:
    command: "noop"
    deps:
      - "root:format"
    local: true

  lint-check:
    command: "noop"
    deps:
      - "root:lint-check"

  build:
    command: "go build"
    args:
      - "-o"
      - "@out(0)"
    outputs:
      - "/bin/$project"
  test:
    deps:
      - "~:build"
    command: "go test ./..."

  tidy-deps:
    command: "go mod tidy"
    local: true

  start:
    command: "$workspaceRoot/bin/$project"
    deps:
      - "~:build"
    local: true
    options:
      envFile:
        - "/dev.env"

  dev: 
    command: "air"
    args:
      - "-c"
      - "$workspaceRoot/.air.toml"
      - "--root"
      - "$workspaceRoot"
      - "--build.cmd"
      - "go build -o $workspaceRoot/bin/$project ."
      - "--build.bin"
      - "$workspaceRoot/bin/$project"
      - "--build.include_dir"
      - "cmd/$project,internal,api,pkg"
    local: true
    options:
      envFile:
        - "/dev.env"
