$schema: https://moonrepo.dev/schemas/tasks.json
tasks:
  format-check:
    command: noop
    deps:
    - root:format-check
  format:
    command: noop
    deps:
    - root:format
    preset: server
  lint-check:
    command: noop
    deps:
    - root:lint-check
  build:
    command: go 
    args:
    - build
    - -o
    - '@out(0)'
    outputs:
    - /bin/$project
  test:
    deps:
    - ~:build
    command: go test ./...
  tidy-deps:
    command: go mod tidy
    preset: server
  start:
    command: ./bin/$project
    deps:
    - ~:build
    options:
      runFromWorkspaceRoot: true
      envFile:
      - /dev.env
    preset: server
  dev:
    command: air
    args:
    - -c
    - $workspaceRoot/.air.toml
    - --root
    - $workspaceRoot
    - --build.cmd
    - go build -o $workspaceRoot/bin/$project .
    - --build.bin
    - $workspaceRoot/bin/$project
    - --build.include_dir
    - cmd/$project,internal,api,pkg
    options:
      envFile:
      - /dev.env
    preset: server
inheritedBy:
  toolchain: go
