# https://moonrepo.dev/docs/config/tasks
$schema: "https://moonrepo.dev/schemas/tasks.json"

# since we can import across modules, we set the inputs as all go files
# children can list more specific inputs and override to get better caching

# https://moonrepo.dev/docs/config/project#tasks
tasks:
  format:
    command: "gofmt -w ."
  build:
    command: "go build"
    inputs:
      - '/**/*.go'
    args:
      - '-o'
      - '@out(0)'
    outputs:
      - "/bin/$project"
  test:
    command: "go test ./..."
    inputs:
      - '/**/*.go'
  tidy-deps:
    command: "go mod tidy"
    options:
      cache: false
      runInCI: false
  run:
    command: "$workspaceRoot/bin/$project"
    deps:
      - '~:build'
    local: true
    options:
      envFile:
        - '/dev.env'
