# https://moonrepo.dev/docs/config/tasks
$schema: "https://moonrepo.dev/schemas/tasks.json"

# https://moonrepo.dev/docs/config/project#tasks
tasks:
  format-internal:
    command: "npx prettier --ignore-path @in(0) --ignore-path @in(1)"
    inputs:
      - "/.prettierignore"
      - ".gitignore"
      - "**/*"
    options:
      internal: true

  format-check:
    extends: "format-internal"
    args:
      - "--check"
      - "."
    options:
      internal: false

  format:
    extends: "format-internal"
    args:
      - "--write"
      - "."
    local: true
    options:
      internal: false

  lint-check:
    command: "npx oxlint ."

  build:
    command: "pnpm build"
    outputs:
      - "dist/"

  start:
    command: "pnpm serve"

  dev:
    command: "pnpm dev"
    options:
      envFile:
        - "/dev.env"
