# https://moonrepo.dev/docs/config/tasks
$schema: "https://moonrepo.dev/schemas/tasks.json"

# https://moonrepo.dev/docs/config/project#tasks
tasks:
  format:
    command: "npx prettier --ignore-path @in(0) --write ."
    inputs:
      - "/.prettierignore"
  build:
    command: "pnpm build"
    outputs:
      - "dist/"
  start:
    command: "pnpm start"
