$schema: https://moonrepo.dev/schemas/tasks.json
tasks:
  format-internal:
    command: npx
    args:
      - prettier
      - --ignore-path
      - '@in(0)'
      - --ignore-path
      - '@in(1)'
      - --write
    inputs:
    - /.prettierignore
    - .gitignore
    - '**/*'
    options:
      internal: true
  format-check:
    extends: format-internal
    args:
    - --check
    - .
    options:
      internal: false
  format:
    extends: format-internal
    args:
    - --write
    - .
    options:
      internal: false
    preset: server
  lint-check:
    command: npx oxlint .
  lint:
    command: npx oxlint --fix --fix-suggestions --fix-dangerously .
    preset: server
  install:
    command: pnpm install
    preset: utility
  build:
    deps:
      - ^:build
    command: pnpm build
    outputs:
    - dist/
  start:
    command: pnpm serve
  dev:
    command: pnpm dev
    options:
      envFile:
      - /dev.env
inheritedBy:
  toolchains: 
    or: [typescript]
    not: [go]

