@import "tailwindcss";

@source "./**/*.{ts,tsx}";
@source "../../../internal/src/**/*.{ts,tsx}";

@import "internal/styles.css";

.almond {
  --background: #FFFBFF;
  --primary: #D3AB9E;
  --border: #EBD8D0;
  --muted-foreground: #EBD8D0;
}

:root {
  /*--primary: #386C0B;*/
  /*--border: #E8EAED;*/
  /*--accent: #E4FFD6;*/
  /*--accent-foreground: #386C0B;*/

  --fc-border-color: var(--border);
}

.fc .fc-scrollgrid {
  border: none;
}

.fc th {
  border-right: none;
  border-bottom: none;
  text-align: left;
  font-weight: normal;
  color: var(--accent-foreground);
}

.fc td {
  border-right: none;
}

.fc .fc-col-header-cell.fc-day-today {
  background-color: var(--accent)
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: var(--accent)
}

.fc .fc-daygrid-day:has(th:hover) {
  background-color: var(--accent);
}

.calendar-virtual {
  scrollbar-width: none;
}

.month {
  writing-mode: sideways-lr;
  height: 256px;
  text-align: right;
  font-weight: bold;
  color: var(--accent-foreground);
}
