name: CI

on:
  push:
    branches: [master]
  pull_request:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup moon
        uses: moonrepo/setup-toolchain@v0
        with:
          auto-install: true
      - uses: actions/setup-go@v6
        with:
          # don't specify version to prevent additional install after proto
          # we just want caching
          cache-dependency-path: "**/go.sum"

      - run: moon ci --color
