# derived from https://vite.dev/guide/static-deploy.html#github-pages
name: Github Pages

on:
  push:
    branches: [master]
  workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup moon
        uses: moonrepo/setup-toolchain@v0
        with:
          auto-install: true

      - name: Build
        run: moon r frontend:build
        env:
          DOMAIN: ${{ vars.DOMAIN }}
          HABITAT_DOMAIN: ${{ vars.HABITAT_DOMAIN }}
          HASH_ROUTING: true

      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # Upload dist folder
          path: "./frontend/dist"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
