name: Integration Tests

on:
  workflow_dispatch:

jobs:
  integration:
    runs-on: ubuntu-latest
    environment: integration
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
          cache-dependency-path: "**/go.sum"

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: true

      - name: Setup moon
        uses: moonrepo/setup-toolchain@v0

      - name: Run integration tests
        run: moon integration:test
        env:
          INTEGRATION_DID_PRIVKEY: ${{ secrets.INTEGRATION_DID_PRIVKEY }}
