name: Integration Tests

on:
  workflow_dispatch:

jobs:
  integration:
    runs-on: ubuntu-latest
    environment: integration
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup moon
        uses: moonrepo/setup-toolchain@v0
        with:
          auto-install: true

      - name: Run integration tests
        run: moon integration:test
        env:
          INTEGRATION_DID_PRIVKEY: ${{ secrets.INTEGRATION_DID_PRIVKEY }}
